@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: chewy;
  src: url("/fonts/Chewy/Chewy-Regular.ttf");
}

@font-face {
  font-family: Shippori;
  src: url("/fonts/Shippori_Antique_B1/ShipporiAntiqueB1-Regular.ttf");
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

@layer base {
  :root {
    --background: 76 100% 95%;
    --foreground: 100 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 100 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 100 6% 10%;
    --primary: 174 86% 56%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 171, 42%, 91%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 86% 56%;
    --input: 174 86% 56%;
    --ring: 174 86% 56%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 100 6% 10%;
    --foreground: 0 0% 100%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 174 86% 56%;
    --primary-foreground: 217 41% 9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 158 7% 31%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 174 86% 56%;
    --input: 174 86% 56%;
    --ring: 174 86% 56%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/*
  primary : #30efdd
  background : #1a1c19
  muted : #4a5551
*/

@layer base {
  * {
    @apply border-border;
  }
  html {
    overflow-x: hidden;
  }
  body {
    @apply bg-background text-foreground max-w-[100vw] min-h-[100vh] relative overflow-x-hidden;
    font-family: Shippori;
    /* color: #2eefdc; */
  }
  main {
    @apply relative z-0;
  }
}

@layer utilities {
  .h1 {
    @apply text-[34px] leading-[42px] font-bold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-bold;
  }
  .h3 {
    @apply text-[20px] leading-[28px] font-semibold;
  }
  .h4 {
    @apply text-[18px] leading-[20px] font-medium;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-semibold;
  }

  .font-heading {
    font-family: chewy;
  }

  .font-body {
    font-family: Shippori;
  }

  .transition {
    transition: 0.5s;
  }

  .menu {
    @apply relative h-[40px] w-[40px] lg:hidden flex items-center justify-center cursor-pointer z-50;
    transition: 0.5s;
  }

  .menu::before,
  .menu::after {
    @apply content-[''] absolute h-[3px] bg-foreground rounded-[2px] w-4/5;
    transition: transform 0.3s ease-in-out;
  }

  .menu::before {
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px hsl(var(--foreground));
    transition: 1s;
  }

  .menu::after {
    transform: translateY(10px);
  }

  .menu.open::before {
    box-shadow: none;
    transform: rotateZ(45deg);
  }

  .menu.open::after {
    transform: rotateZ(-45deg);
  }

  .shadow-full {
    box-shadow: 0px 0px 5px 3px hsl(var(--border));
  }

  .tri-sup {
    /* clip-path: polygon(0% 0%, 100% 0%, 50% 100%); */
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }

  .tri-inf {
    /* clip-path: polygon(50% 0%, 100% 100%, 0% 100%); */
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  }
  .img-background {
    background: linear-gradient(to right, #aef3dd, #e3fde3);
  }
}

/* p {
  color: #2eefdc;
} */
